# IDEA files not affected by ktlint
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/profiles_settings.xml
!.idea/inspectionProfiles/ktlint.xml
!.idea/workspace.xml
*.iml

# Maven builds
target/
